.webcamCapture {
  position: relative;
}

.webcamCapture__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

.webcamCapture__back {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  margin: 10px;
  color: white;
}
